@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.navbar-default {
    background-color: #24B6AC;
    border-color: #24B6AC;
    border-radius: 0px;
    padding: 10px;
}

.navbar-brand > img {
    display: block;
    margin-top: -10px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 500;
}

li.ui-nav-item {
    margin-right: 50px;
}

.parralax-first-section {
    background: url(../image/header/header-bg.jpeg)no-repeat 100% fixed;
    background-size: cover;
    background-position: center;
    padding: 150px;
    text-align: center;
}

.company-list {
    margin-top: 40px;
}

.company-list img {
    height: 80px;
    width: 100%;
    transform: scale(1);
    transition: .5s;
    border: 1px solid #ddd;
}

.company-list img:hover {
    height: 80px;
    width: 100%;
    transform: scale(1.1);
    transition: .5s;
    box-shadow: 0px 0px 1px 1px #ddd;
}


/*bootstrap sidebar-social*/

#sticky-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sticky-social {
    left: 0;
    position: fixed;
    top: 200px;
    z-index: 99999;
}

#sticky-social a {
    background: #333;
    color: #fff;
    display: block;
    height: 35px;
    font: 16px "Open Sans", sans-serif;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 35px;
}

#sticky-social a span {
    line-height: 35px;
    left: -120px;
    position: absolute;
    text-align: center;
    width: 120px;
}

#sticky-social a:hover span {
    left: 100%;
}

#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span {
    background: #3b5998;
}

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span {
    background: #00aced;
}

#sticky-social a[class*="gplus"],
#sticky-social a[class*="gplus"]:hover,
#sticky-social a[class*="gplus"] span {
    background: #dd4b39;
}

#sticky-social a[class*="linkedin"],
#sticky-social a[class*="linkedin"]:hover,
#sticky-social a[class*="linkedin"] span {
    background: #007bb6;
}

#sticky-social a[class*="instagrem"],
#sticky-social a[class*="instagrem"]:hover,
#sticky-social a[class*="instagrem"] span {
    background: #517fa4;
}

#sticky-social a[class*="stumbleupon"],
#sticky-social a[class*="stumbleupon"]:hover,
#sticky-social a[class*="stumbleupon"] span {
    background: #eb4924;
}

#sticky-social a[class*="pinterest"],
#sticky-social a[class*="pinterest"]:hover,
#sticky-social a[class*="pinterest"] span {
    background: #cc2127;
}

#sticky-social a[class*="flickr"],
#sticky-social a[class*="flickr"]:hover,
#sticky-social a[class*="flickr"] span {
    background: #ff0084;
}

#sticky-social a[class*="tumblr"],
#sticky-social a[class*="tumblr"]:hover,
#sticky-social a[class*="tumblr"] span {
    background: #32506d;
}


/*======= ui-panel-header section ============*/

.wrapper ui-panel-header {}

.ui-header-body {
    background-color: #fff;
    margin-top: 30px;
    padding: 50px;
}

.ui-search-option {
    background-color: #139275;
    padding: 3px;
    border-radius: 3px;
}

.ui-button {
    background-color: #139275;
    padding: 12px;
    color: #fff;
    border: 1px solid #139275;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    transition: .5s;
    outline: none;
}

.ui-button:hover {
    background-color: #00B18B;
    padding: 12px;
    color: #fff;
    border: 1px solid #139275;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    outline: none;
    transition: .5s;
}

.ui-input {
    height: 40px;
    width: 110%;
    border: none;
    padding: 10px;
    border-radius: 3px 0px 0px 3px;
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #139275;
    border-color: #139275;
    outline: none;
}

.gtm-search {
    height: 40px;
    width: 100%;
    margin-right: 50px;
    border: none;
    background-color: #139275;
    transition: .5s;
}

.gtm-search:hover {
    height: 40px;
    width: 100%;
    margin-right: 50px;
    border: none;
    background-color: #00B18B;
    transition: .5s;
}

.ui-right i {
    margin-right: 10px;
    font-size: 16px;
}


/*==========featured item======*/

.featured {
    margin-top: 70px;
}

.company-logo {
    height: 100%;
    width: 100%;
    position: relative;
}

.company-logo img {
    height: 130px;
    width: 250px;
    background-size: cover;
    background-position: center;
}

.offer-corner-design {
    position: absolute;
    background-color: #fff;
    width: 120px;
    margin-top: -127px;
    transform: rotate(-40deg);
    margin-left: -28px;
    color: #128E73;
    border-radius: 5px;
    text-align: center;
}

.company-tvs-list {
    background-color: #fff;
    padding: 30px;
    z-index: -1;
    border: 1px solid #ddd;
    transition: .5s;
    margin-bottom: 30px;
}

.company-tvs-list:hover {
    background-color: #fff;
    padding: 30px;
    z-index: -1;
    box-shadow: 0px 0px 1px 1px #ddd;
    transition: .5s;
}

.member {
    padding: 3px;
    background-color: #222;
    font-size: 10px;
    border-radius: 3px;
}

.member-part .member {
    color: #fff;
}

.conpany-details {
    margin-top: 20px;
    color: #222;
}

.conpany-details a {
    text-decoration: none;
    color: #222;
}

.member-part {
    margin-top: 20px;
    margin-bottom: 20px;
}

.offer {
    margin-bottom: 10px;
    margin-top: 5px;
}

.offer >button {
    position: relative;
    //display:block;
    height: 45px;
    width: 100%;
    border: 1px solid #ddd;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: #fff;
    color: #fff;
    border-left: 15px solid #128E73;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    padding: 5px 5px;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.slide:after {
    content: "DISCOUNT %";
    position: absolute;
    width: 100%;
    color: #222;
    height: 100%;
    left: 0;
    text-align: center;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.slide:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    color: #fff;
    left: -100%;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.slide:hover {
    background: #128E73;
}

.slide:hover:before {
    left: 0;
    opacity: 1;
    color: #fff;
}

.slide:hover:after {
    left: 100%;
    opacity: 0;
}

.offer h3 {
    font-size: 14px;
}

.view-more-button {
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

a.view-more-button {
    text-decoration: none;
}


/*popular -part*/

.pupolar-list {
    margin-top: 70px;
}

.popular-list-widget {
    border: 1px solid #ddd;
    padding: 30px;
}

.custom-list {
    background-color: #fff;
    padding: 10px 12px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    transition: .5s;
    transform: scale(1);
}

.custom-list:hover {
    background-color: #fff;
    padding: 10px 12px;
    box-shadow: 0px 0px 1px 1px #ddd;
    margin-bottom: 10px;
    transition: .5s;
    transform: scale(1.1);
}

.custom-list a {
    text-decoration: none;
    color: #222;
    font-size: 10px;
}

.custom-list i {
    margin-right: 5px;
}

.heading {
    margin-bottom: 20px;
}


/*pagination*/

.pagination > .active > a {
    z-index: 3;
    color: #222;
    cursor: default;
    background-color: #128E73;
    border-color: #128E73;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #222;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}


/*=====Login Section-=========*/

.recuiter-part {
    padding: 50px 0;
    margin: 30px;
}


}
.recuiter-login_16_03 .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.recuiter-login_16_03 {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    transition: .5s;
}
.recuiter-login_16_03:hover {
    padding: 20px;
    box-shadow: 0px 0px 1px 1px #ddd;
    transition: .5s;
}
.client-register_16_03 p {
    line-height: 2em;
}
.client-register_16_03 {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}
.client-register_16_03:hover {
    background-color: #fff;
    box-shadow: 0px 0px 1px 1px #ddd;
    padding: 20px;
    text-align: center;
}
.client-register_16_03 img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
#field {
    margin-bottom: 20px;
}
.re-width {
    /*    re=reuirment*/
    
    width: 80%;
    height: 50px;
    border-radius: 0px;
}
.re-ml {
    /*ml=margin-left*/
    
    float: left;
    font-size: 20px;
}
.re-ml i {
    background-color: #16A085;
    height: 50px;
    width: 42px;
    padding: 13px;
    color: #fff;
}
.cl-button {
    background-color: #128E73;
    border: #fff;
    color: #222;
    padding: 10px 25px 10px 25px;
    font-weight: 700;
    font-size: 13px;
}

/*========all Category======*/
.modal-content {
    padding: 50px;
    outline: none;
}
.modal-content ul li {
    display: block;
    list-style: none;
    padding: 8px;
    outline: none;
}
.catergory-left i {
    margin-right: 7px;
}
.lead {
    border-bottom: 2px solid #16A085;
}

/*==============post-page===========*/
.post-page-home {}
.post-page-body {
    background-color: #fff;
    padding: 100px;
    border-radius: 5px;
    outline: none;
}
.sell-something {
   margin-top: 50px;
    padding: 30px;
    color: #222;
    border: 3px solid #ddd;
    border-radius: 5px;
    
}
.sell-something ul li {
    display: block;
    color: #fff;
    list-style: none;
    line-height: 3em;
}
.sell-something a {
    color: #16A085;
    text-decoration: none;
}
.sell-something i {
    margin-right: 7px;
}
.sell-top-img {
    text-align: center;
    transform: translate(40%, -90%);
}
.mt-sell {
    margin-top: -35px;
}
.home-category {
    background-color: #ddd;
    padding: 30px;
    text-align: center;
    margin-top: 50px;
    box-shadow: 0px 0px 3px 3px #ccc;
    border-radius: 5px;
    outline: none;
}
.home-category a {
    text-decoration: none;
}
.home-category i {
    font-size: 25px;
    color: #16A085
}

/*====poat-registration-page=====*/
.user-post-details {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 30px;
    transition: .5s;
    margin-top: 30px;
}
.user-post-details:hover {
    background-color: #fff;
    padding: 30px;
    transition: .5s;
    box-shadow: 0px 0px 1px 1px #ddd;
}
.post-title {
    float: left;
    display: inline-block;
}
.post-title i {
    background-color: #128E73;
    height: 40px;
    z-index: 99;
    width: 40px;
    padding: 11px;
    font-size: 20px;
    margin-top: 0px;
    position: absolute;
}
.user-post-details .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 45px;
    position: relative;
    opacity: .8;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.location-box {
    height: 100px;
    width: 100%;
    padding-left: 45px;
}
.field {
    margin-bottom: 20px;
}
.field p {
    font-weight: 500;
}
.post-header {
    text-align: center;
    font-weight: 500;
    font-family: -webkit-pictograph;
}
.post-header h3 {
    font-size: 30px;
}
.item-thumb img {
    width: 136px;
    height: 102px;
    margin-right: 24px;
    text-align: center;
    border: 1px solid #ddd;
}
.userinput-input {
    background-color: #128E73;
    width: 100%;
    padding: 20px;
}

/*user-post-instruction*/
.user-post-instruction {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 30px;
    transition: .5s;
    margin-top: 30px;
    margin-bottom: 30px;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 450px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
    z-index: -1;
}
.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}
.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}
.loginmodal-container input[type=text],
input[type=password],
input[type=number],
input[type=number],
input[type=email] {
    height: 50px;
    font-size: 16px;
    width: 80%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}
.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}
.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}
.login-help {
    font-size: 12px;
}

/*product details*/
.product-details {
    margin-top: 50px;
    margin-bottom: 50px;
}
.cupon-wrapper {
    border: 1px solid #ddd;
    padding: 30px;
    transition: .5s;
}
.cupon-wrapper:hover {
    box-shadow: 0px 0px 1px 1px #ddd;
    padding: 30px;
    transition: .5s;
}
.product-img img {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.social-list {}
.social-list ul {}
.social-list ul li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    transition: .5s;
}
.social-list ul li a {
    text-decoration: none;
    color: #fff;
}
.cupon-desc {
    margin-top: 50px;
}
.add-acat i {
    font-size: 22px;
    margin: 10px;
}
.add-acat p {
    background-color: #fff;
    border: 1px solid #ddd;
}
.button-acrt {
    padding: 11px 20px 11px 20px;
    background-color: #24B6AC;
    margin-left: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    outline: none;
    float: right;
}
.s-button {
    margin-top: 20px;
}
.widget {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 30px;
    transition: .5s;
}
.widget:hover {
    box-shadow: 0px 0px 1px 1px #ddd;
    padding: 15px;
    margin-bottom: 30px;
    transition: .5s;
}
.widget ul {
    display: block;
}
.widget ul li {
    list-style: none;
    display: block;
    margin-top: 10px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    transition: .5s;
}
.widget ul li:hover {
    list-style: none;
    display: block;
    margin-top: 10px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 1px 1px #ddd;
    transition: .5s;
}
.widget ul li a {
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}
.widget i {
    margin-right: 5px;
}
.widget h3 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.store-list ul li {
    display: inline-block;
}
.post-media img {
    height: 70px;
    width: 125px;
    border: 1px solid #ddd;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.category-widget ul li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    transition: .5s;
}
.category-widget ul li:hover {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0px 0px 1px 1px #ddd;
    transition: .5s;
}
.feedback-header {
    margin-bottom: 20px;
}
.feedback-widget {
    border: 1px solid #ddd;
    margin-top: 50px;
    padding: 30px;
    transition: .5s;
}
.feedback-widget:hover {
    box-shadow: 0px 0px 1px 1px #ddd;
    margin-top: 50px;
    padding: 30px;
    transition: .5s;
}
textarea.fb-text-box {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    outline: none;
}
.fb-input {
    outline: none;
}

/*====footer=====*/
.footer {
    margin-top: 100px;
    background-color: #f7f7f7;
    padding: 50px;
    box-shadow: 5px 16px 10px 17px #ccc;
}
.footer-wrapper h4 {
    color: #24B6AC;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
}
.footer-wrapper p {
    margin-top: 20px;
    color: #222;
    font-family: 'Nunito', sans-serif;
}
.footer-wrapper ul {
    margin-top: 20px;
}
.footer-wrapper ul li {
    display: block;
    list-style: none;
    line-height: 2em;
}
.footer-wrapper ul li a {
    color: #222;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
.footer-wrapper ul li:hover a {
    color: #24B6AC;
    text-decoration: none;
}
.contact-wrapper {
    margin: 50px;
}
.contcat-form{
    background-color: #fff;
    padding: 20px;
    position: center;
    box-shadow: 0px 0px 1px 1px #ddd;
}
.fadeIn {
    animation-duration: 3s;
}
.map-part{
      background-color: #fff;
    padding: 20px;
    position: center;
    box-shadow: 0px 0px 1px 1px #ddd;
}
.textarea-contact {
    resize: none;
}
.btn-send {
    border-radius: 0px;
    border: 1px solid #24B6AC;
    background: #24B6AC;
    color: #fff;
}
.btn-send:hover {
    border: 1px solid #00bfff;
    background: #fff;
    color: #00bfff;
    transition: background 0.5s;
}
.second-portion {
    margin-top: 50px;
}
.box > .icon {
    text-align: center;
    position: relative;
}
.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 8px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #24B6AC;
    vertical-align: middle;
}
.box > .icon:hover > .image {
    background: #333;
}
.box > .icon > .image > i {
    font-size: 36px !important;
    color: #fff !important;
}
.box > .icon:hover > .image > i {
    color: white !important;
}
.box > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
    min-height: 163px;
}
.box > .icon:hover > .info {
    background: rgba(0, 0, 0, 0.04);
    border-color: #e0e0e0;
    color: white;
}
.box > .icon > .info > h3.title {
    font-family: "Robot", sans-serif !important;
    font-size: 16px;
    color: #222;
    font-weight: 700;
}
.box > .icon > .info > p {
    font-family: "Robot", sans-serif !important;
    font-size: 13px;
    color: #666;
    line-height: 1.5em;
    margin: 20px;
}
.box > .icon:hover > .info > h3.title,
.box > .icon:hover > .info > p,
.box > .icon:hover > .info > .more > a {
    color: #222;
}
.box > .icon > .info > .more a {
    font-family: "Robot", sans-serif !important;
    font-size: 12px;
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}
.box > .icon:hover > .info > .more > a {
    color: #fff;
    padding: 6px 8px;
    background-color: #63B76C;
}
.box .space {
    height: 30px;
}
@media only screen and (max-width: 768px) {
    .contact-form {
        margin-top: 25px;
    }
    
    .btn-send {
        width: 100%;
        padding: 10px;
    }
    
    .second-portion {
        margin-top: 25px;
    }
}

/* Conatct end */